.menuList{
  list-style-type: none;
  padding: 16px 24px;
  display: flex;
  z-index: 2;
  li{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    display: flex;
    align-items: center;
    height: 56px;
    gap: 20px;
    cursor: pointer;
  }

}
.menuListGradientOverlay{
  background: linear-gradient(180deg, rgba(196, 39, 251, 0.00) 0%, rgba(196, 39, 251, 0.20) 100%);
  filter: blur(20px);
  position: absolute;
  width: 100%;
  height: 56px;
  top: 30px;

}

.divider{
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.30) 52.08%, rgba(255, 255, 255, 0.00) 100%);
  background-blend-mode: overlay;
  height: 1px;
  width: 100%;
}
.vertical{
  flex-direction: column;
}

.horizontal{
  gap: 24px;
  flex-direction: row;
}
.activeElemImageWrapper{
  border-radius: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  background-color: #282C4F;
  justify-content: center;
  position: relative;
  align-items: center;
}
.activeElemImageWrapper::before{
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background:  linear-gradient(130deg, rgba(196, 39, 251, 1) 0%, rgba(34, 215, 255, 1)) ;
    border-radius: 34px;
    z-index: -1;
}

.menuListWrapper{
  position: relative;
  display: flex;
  flex-direction: column;
}

.pink{
  position: absolute;
  filter: blur(25px);
  background: rgba(196, 39, 251, 0.20);
  height: 30px;
  top: 60px;
  left: 80px;
  width: calc(100% - 160px);
}