.avatarWrapper{
  background-color: aqua;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}