.newsContainerImageBlock{
  width: 376px;
  height: 209px;
  border-radius: 16px 16px 0px 0px;
  flex-shrink: 0;
}
.newsContainerDescription{
  position: relative;
  bottom: 4px;
  display: flex;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 0px 0px 16px 16px;
  background: linear-gradient(180deg, rgba(72, 49, 157, 0.20) 0%, rgba(72, 49, 157, 0.00) 100%);
}
.newsContainer{
  max-width: 376px;
}