.leftbarWrapper{
  min-width: 240px;
  z-index: 1;
  min-height: 100vh;
  background: linear-gradient(136deg, #2E335A 0%, #1C1B33 100%);
}

.activeElemContainerWrapper{
  background: radial-gradient(50.00% 128.57% at 50.00% -55.61%, #8015A7 0%, rgba(97, 54, 144, 0.00) 100%);
}

