.searchField{
  width: 368px;
  height: 40px;
  background: initial;
  outline: none;
  border: none;
  padding-left: 10px;
  &:focus-visible{
    background: linear-gradient(135deg, rgba(15, 85, 232, 0.1) 0%, rgba(157, 223, 243, 0.1) 100%);
    transition: 0.3s ;
  }
  border-radius: 40px;
  color: #FFF;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}


.iconWrapper{
  display: flex;
  align-items: center;
}
.inputFocus{
  border-radius: 40px;
  position: relative;
  display: flex;
  background: linear-gradient(135deg, rgba(15, 85, 232, 0.1) 0%, rgba(157, 223, 243, 0.1) 100%);
  align-items: center;
  padding: 8px;
  width: 442px;
  height: 40px;
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(130deg, rgba(196, 39, 251, 1) 0%, rgba(34, 215, 255, 1));
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border-radius: 34px;
    z-index: -1;
  }
}
.contentWrapper{
  z-index: 2;
  display: flex;
}
.inputBlur{
  border: 1px solid rgba(255, 255, 255, 0.50);
  transition: 0.3s !important;
}
.searchWrapper{
  border-radius: 40px;
  position: relative;
  display: flex;
  background: linear-gradient(135deg, rgba(15, 85, 232, 0.10) 0%, rgba(157, 223, 243, 0.10) 100%);
  align-items: center;
  padding: 8px;
  width: 442px;
  height: 40px;
}